*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 100%;
    min-width: 300px;
    height: 80vh;

    display: flex;

    .board {
        width: 100%;
        margin: 0.5rem;

        .btn {
            color: black;
            font-weight: 100;
        }

        .display-board {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            &__history {
                display: block;
                font-size: 1rem;
                margin: 1rem 0;
            }

            &__current {
                display: block;
                font-size: 4rem;
                margin: 1rem 0;
            }
        }

        .memory-buttons {
            display: flex;
            justify-content: center;
            align-items: stretch;

            .btn {
                width: 100%;
            }
        }

        .buttons-container {
            position: relative;
            width: 100%;
            height: 480px;
            overflow: hidden;

            .main-buttons {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .btn {
                    width: 100%;
                    height: 80px;
                    font-size: 1.4rem;
                    background-color: darken($color: #ebebeb, $amount: 5);
                    border: 1px solid #ebebeb;

                    &__white {
                        background-color: white;
                    }

                    &__blue {
                        background-color: #5ea9fd;
                        &:hover {
                            background-color: darken($color: #5ea9fd, $amount: 10);
                        }
                    }
                    &:hover {
                        background-color: darken($color: #ebebeb, $amount: 10);
                    }
                }       
            }

            .mobile-history {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #a9a9b1;
                padding: 0.5rem;
                text-align: right;
                transition: top .2s ease;
                
                &.active {
                    top: 0;
                }

                &__board {
                    margin: 1rem 0;
                }

                &__score {
                    font-size: 2rem;
                }
            }
        }
    }

    .history-memory {
        display: none;
        background-color: blue;
    }

    @media(min-width: 600px) {
        height: 100vh;

        .board {
            width: 70%;
            
            .display-board {
                .btn {
                    display: none;
                }
            }

            .mobile-history {
                display: none;
            }
        }
        .history-memory {
            display: block;
            width: 30%;
        }
    }
}

.btn {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in;
    outline: none;
    border: 1px solid transparent;

    i {
        font-size: 1.4rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        border: 1px solid lighten($color: #000000, $amount: 20);
        background-color: darken($color: #ebebeb, $amount: 10);
    }
}
        